.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.titulo {
  margin-bottom: 50px;
  text-align: center;
}

.titulo h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.botones {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.botones button {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  color: #333;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.btn-block:hover {
  background-color: #e9ecef;
}

.fas {
  font-size: 1.5rem;
}
