<div class = "container">
    <form [formGroup]="formularioLogin" (ngSubmit)="login()">
        <h1>Login</h1>
        <div class="mb-3">
        <label for="email" class="form-label">Usuario:</label>
        <input [ngClass]="{'is-invalid': hasError('email','required')}"
        type="text" class="form-control" id="email" formControlName="email">
        <div class="text-danger" *ngIf="hasError('email','required')">Usuario requerido.</div>
        <small class="form-text text-muted">Introduzca su nombre de usuario aquí (el mismo que usó al registrarse).</small>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
            <input [ngClass]="{'is-invalid': hasError('password','required') || hasError('password','minlength')}"
            type="password" class="form-control" id="Password" formControlName="password">
            <div class="text-danger" *ngIf="hasError('password','required')">Contraseña requerida.</div>
            <div class="text-danger" *ngIf="hasError('password','minlength')">Contraseña demasiado corta.</div>
        </div>
        <div *ngIf="errorMensaje" class="alert alert-danger mt-3">
            {{ errorMensaje }}
        </div>
        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-secondary" (click)="tornarInici()">Tornar</button>
        </div>
        <p>{{Prova | uppercase}}</p>
        <p>    {{date | date:'dd/MM/yyyy'}}</p>
        <p>    {{date | date}}</p>
    </form>
</div>
